<footer class="border border-t border-gray-800">
	<div class="container mx-auto text-sm px-4 py-6">
		Made with ❤️ by <a
			href="https://www.github.com/CesGalaxy"
			target="_blank"
			class="underline hover:text-gray-300">César</a
		> — Theme inspired by the template of <a
			href="https://www.twitter.com/charca"
			target="_blank"
			class="underline hover:text-gray-300">Maxi Ferreira</a
		>.
	</div>
</footer>
